@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;500;700&display=swap');

body {
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.bucket-content {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 50px;
}

.bucket-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.bucket-subtitle {
    font-size: 14px;
    color: #888;
}

.bucket-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0;
    perspective: 1000px;
    position: relative; /* 동전이 깡통 안에서 시작되도록 relative 설정 */
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes flip {
    0% {
        transform: rotateX(0);
    }
    100% {
        transform: rotateX(-180deg);
    }
}

.bucket-image {
    width: 70px;
    height: auto;
    animation: floating 3s ease-in-out infinite;
    transition: transform 0.6s ease-in-out;
    transform-origin: center;
}

.bucket-image.flipped {
    animation: flip 0.6s ease-in-out;
    transform: rotateX(-180deg);
}

.coins-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translateX(-50%); /* 동전이 깡통 중앙에서 시작되도록 설정 */
    overflow: visible; /* 동전이 깡통 바깥으로 떨어지도록 설정 */
}

.coin {
    font-size: 1.5rem; /* 동전 크기를 줄임 */
    position: absolute; /* 동전의 위치를 절대적으로 설정 */
    animation: drop 1s ease forwards;
    transform-origin: top;
    top: 10%; /* 깡통 상단에서 조금 아래로 시작하도록 조정 */
    left: 50%;
    transform: translate(-50%, -50%) scale(0.6); /* 위치 조정 및 스케일 줄이기 */
}

@keyframes drop {
    0% {
        transform: translateY(0) scale(0.6);
        opacity: 1;
    }
    100% {
        transform: translateY(150px) scale(1); /* 동전이 떨어질 때 크기가 커지도록 설정 */
        opacity: 1;
    }
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.terminate-button {
    padding: 10px 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'IBM Plex Sans KR', sans-serif;
}
