.mobileViewContainer {
    width: 350px; /* 일반적인 모바일 화면 크기 */
    height: 804px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;

    background-image: url('../mainPage/main_empty.png');
    background-size: contain;
    background-repeat: no-repeat;
}
