.mobileViewContainer {
    width: 600px; /* 일반적인 모바일 화면 크기 */
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .mobileViewContainer {
        width: 100%;
        height: 100vh;
    }
}

.mainEmpty_img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지 비율을 유지하며 컨테이너에 맞춤 */
}
