.checkCan {
    bottom: 15%;
    left: 3%; /* 왼쪽 아래 배치 */

    background: url(img/main_btn2.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.makeCan {
    bottom: 15%;
    left: 3%; /* 왼쪽 아래 배치 */

    background: url(img/main_btn1.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.checkAccount {
    bottom: 20%;
    left: 3%; /* 왼쪽 아래 배치 */

    background: url(img/main_btn3.png);
    background-size: contain;
    background-repeat: no-repeat;
}
