.mobileViewContainer {
    width: 350px; /* 일반적인 모바일 화면 크기 */
    height: 804px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.mainBtn {
    width: 118px;
    height: 34px;

    position: relative;

    border: none;
    cursor: pointer; /* pc option */
}
