.makeCan {
    bottom: -23%;
    left: -30%; /* 왼쪽 아래 배치 */

    background: url(img/main_btn1.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.empty {
    background-image: url('../mainPage/img/main_empty.png');
    background-size: contain;
    background-repeat: no-repeat;
}
