.LoadingSpinner {
    background-image: url('D:\shinhan_team2_SOL_the_poor\shinhan_team2_SOL_the_poor_front\src\assets\mainPage\img\main_empty.png');
    background-size: cover;
    background-position: center;
    width: 390px;
    height: 844px;
    display: flex;
}

.spinnerContainer {
    background-color: rgba(45, 45, 45, 0.868);
    height: 100%;
    width: 100%;
    z-index: 500;
    margin: 0;
}

#spinner {
    margin: 40vh auto;
    width: 50px;
    height: 50px;
    border: 4px solid rgba(255, 255, 255, 0.365);
    box-sizing: border-box;

    /* border-top-color: white; */
    border-bottom-color: rgb(255, 255, 255);

    border-radius: 100%;
    animation: spin 1.2s ease-in-out infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
    30% {
        transform: rotate(40deg);
    }
}
